.bsb-1 {
    position: sticky;
    height: 85vh;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.419);
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 0;
    flex: 2;
    border-bottom: solid 1px rgba(0, 0, 0, 0.150);
    display: flex;
    flex-direction: column;
  }
  
  .sdp {
    width: 100%;
    height: 10%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .sdp>img {
    margin-left: 5%;
    border-radius: 100px;
  }
  
  .sdp>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .f-icon {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .f-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #008ad3;
  }
  
  .f-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .g-icon {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .g-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #008ad3;
  }
  
  .g-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .mart-icon {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .mart-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #008ad3;
  }
  
  .mart-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .watch-icon {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .watch-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #008ad3;
  }
  
  .watch-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .memorie-icon {
    margin-top: 8%;
  
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .memorie-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #008ad3;
  }
  
  .memorie-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .see-icon {
    margin-top: 8%;
  
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .see-icon>.icon {
    font-size: 35px;
    margin-left: 5%;
    border-radius: 100px;
    fill: rgb(27, 27, 27)
  }
  
  .see-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .bsb-1>p {
    color: gray;
    margin-top: 2%;
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
  }
  
  .bowling-icon {
    width: 100%;
    height: 10%;
    border-radius: 30px;
  
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .bowling-icon>img {
    margin-left: 5%;
    border-radius: 100px;
  }
  
  .bowling-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 16px;
  }
  
  .omg-icon {
    margin-top: 3%;
  
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .omg-icon>.omg {
    font-size: 28px;
    margin-left: 5%;
    border-radius: 100px;
    fill: #000000;
    ;
  }
  
  .omg-icon>p {
    padding-left: 5%;
    font-weight: 500;
    font-size: 16px;
  }
  
  