.bsb-2p {
  height: 100%;
  background-color: #fff;
  flex: 5;

  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
}

.bsb-2 {
  height: 40%;
  background-color: #fff;
  /* overflow-y: scroll; */
  flex: 5;

  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}

.page form{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page form input {
  /* flex: 1; */
  width: 50%;

  height: 100%;
  border: var(--main-color) 2px solid;
border-radius: 20px;
  padding-left: 15px;
  padding-bottom: 5px;

  outline: none;
  font-size: 18px;
  color: var(--main-color);
  margin-left: 2%;
}

.page form button {
  /* flex: 1; */
  width: 15%;
  padding-bottom: 5px;
  
  height: 100%;
  border: var(--main-color) 2px solid;
  /* outline: none; */
border-radius: 20px;
  font-size: 18px;
  color: var(--main-color);
  margin-left: 2%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}


