.header {
  box-sizing: border-box;
  background-color: var(--bg-color);
  flex: 0.9;
  border-bottom: solid 1px rgba(0, 0, 0, 0.150);
  padding-top: 0.5%;
  width: 100vw;

  display: flex;
  justify-content: start;
}

.hsb-1 {
  margin-left: 2%;
}

.hsb-1 .fa-3x {
  fill: #008ad3;
  font-size: 50px;
}

.hsb-2 {
  width: 20%;
  height: 60%;
  border-radius: 30px;
  margin-top: 0.3%;
  padding: 1%;
  margin-left: 0.5%;

  display: flex;
  align-items: center;
}

.hsb-2 .hsb2-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--main-color
  );
  margin-left: 2%;
}

.hsb-3 {
  width: 49%;
  margin-left: 3%;
  padding: 0.5%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.hsb-3 .hsb-3-icon {
  margin-left: 12%;
  font-size: 22px;
}

.hsb-4 {
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center
}

.hsb-4 div {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hsb-4 div .icon {
  font-size: 22px;
}

.hsb-4>button {
  color: var(--main-color);
  background-color: var(--bg-color);
}

.dp {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.dp>img {
  flex: 7;
  border-radius: 40px;
}

.dp button {
  border: none;
}

.dp button .dicon {
  fill: var(--icon-color);
  font-size: 30px;
}

