.post {
  border-radius: 20px;
  width: 80%;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.496);
}

.post .postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.postHeader div{
  display: flex;
}
.postHeader div button {
  width: 100%;
  padding: 3px;
  
  height: 100%;
  border: var(--main-color) 2px solid;
  /* outline: none; */
border-radius: 20px;
  font-size: 16px;
  color: var(--main-color);
  margin: 5px;
}

.post .profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post .postImage {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post p{
  padding-bottom: 10px;
}

.post .postFooter {
  display: flex;
  justify-content: space-around;
  padding-top:15px;

}

.post .postFooter div {
  font-size: 22px;
  cursor: pointer;
  /* margin-top: 10px; */
  font-weight: 500;
  color: gray;
  padding:0px 5px;
display: flex;
align-items: center;
}

.post .postFooter div:hover {
  color: skyblue;
  /* fill: skyblue; */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-icon {
  font-size: 25px;
  /* fill: gray;/ */
}
