.dark {
  --bg-color: rgb(21, 32, 43);
  --main-color: white;
  --icon-color: #fff;

}

.light {
  --bg-color: rgb(247, 247, 247);
  --main-color: black;
  --icon-color: #000000;
}


.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: 1s;
  margin: 0;
  padding: 0;
}






 *{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  /* height: 100vh; */
  /* width: 100vw; */
}

::-webkit-input-placeholder {
  color: var(--main-color);
}


